@page "/GetPlugins"
@using System.Net.Http.Json;
@using System.Text.Json;
@inject NavigationManager NavigationManager;
@inject IHttpClientFactory httpClientFactory
<PageTitle>Get Plugins</PageTitle>

<div class="w-full h-full">
    @if (pluginHost is null || MainJson is null || ManifestHost is null || ManifestPlugins is null)
    {
        <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
    }
    else
    {
        <MudPaper Class="w-full h-full flex-col gap-4 rounded-none">
            <MudToolBar>
                <h3>Get Plugins</h3>
            </MudToolBar>
            @foreach (((MainPluginEntry mainPluginEntry, ManifestPluginJson? manifestPluginJson), int index) in ManifestPlugins.Select((mainPluginEntry, index) => (mainPluginEntry.Value, index)))
            {
                <div class="w-full flex flex-wrap justify-between items-center px-6 py-2 gap-1">
                    <div class="flex items-center gap-4">
                        <div class="flex justify-center items-center font-bold">@mainPluginEntry.Name</div>
                        (@mainPluginEntry.Platform.ToString()) @mainPluginEntry.Type.ToString()
                    </div>
                    <MudButtonGroup Color="Color.Secondary" Variant="Variant.Filled">
                        @if (pluginHost.LoadedPlugins.ContainsKey(mainPluginEntry.Name))
                        {
                            <MudButton Href="@GetPluginName(@mainPluginEntry.Name, "Reload")" Target="_blank">
                                Reload
                            </MudButton>
                        }
                        else
                        {
                            <MudButton Href="@GetPluginName(@mainPluginEntry.Name, "Load")" Target="_blank">
                                Load
                            </MudButton>
                        }
                    </MudButtonGroup>
                </div>
            }
        </MudPaper>
    }
</div>

@code {
    private string GetPluginName(string name, string page) => $"api/v1/Plugin/{name}/{page}";
    // private string GetItemCssClass(int index) => index % 2 == 0 ? "even" : "odd";

    private MainJson? MainJson { get; set; }
    private ManifestHostJson? ManifestHost { get; set; }
    private IDictionary<string, (MainPluginEntry, ManifestPluginJson?)>? ManifestPlugins { get; set; }
    protected override async Task OnInitializedAsync()
    {
        using (HttpClient httpClient = httpClientFactory.CreateClient())
        {
            httpClient.BaseAddress = new Uri(NavigationManager.BaseUri);

            //MainJson = await httpClient.GetFromJsonAsync<MainJson>("https://raw.githubusercontent.com/SpeedRunTool/SRTPlugins/main/main.json", System.Text.Json.JsonSerializerOptions.Default);
            MainJson = await httpClient.GetFromJsonAsync<MainJson>("/api/v1/Plugin/DebugMain", System.Text.Json.JsonSerializerOptions.Default);

            //ManifestHost = await httpClient.GetFromJsonAsync<ManifestHostJson>(MasterJson?.Host.ManifestURL, System.Text.Json.JsonSerializerOptions.Default);
            ManifestHost = await httpClient.GetFromJsonAsync<ManifestHostJson>("/api/v1/Plugin/DebugManifestHost", System.Text.Json.JsonSerializerOptions.Default);

            //ManifestPlugins = MainJson?.Plugins.ToDictionary(kvp => kvp.Name, (kvp) => (kvp, httpClient.GetFromJsonAsync<ManifestPluginJson>(kvp.ManifestURL, System.Text.Json.JsonSerializerOptions.Default).GetAwaiter().GetResult()));
            ManifestPlugins = new Dictionary<string, (MainPluginEntry, ManifestPluginJson?)>()
            {
                { "SRTConsumerTest1", (MainJson!.Plugins.First(p => p.Name == "SRTConsumerTest1"), httpClient.GetFromJsonAsync<ManifestPluginJson>("/api/v1/Plugin/DebugManifestPlugin", System.Text.Json.JsonSerializerOptions.Default).GetAwaiter().GetResult()) }
            };
        }

        await base.OnInitializedAsync();
    }
}