@page "/"
<PageTitle>Home</PageTitle>

<div class="w-full h-full">
    @if (pluginHost is null)
    {
        <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
    }
    else
    {
        <MudPaper Class="w-full h-full flex-col gap-4 rounded-none">
            <PageHeader>
                <MudText Typo="Typo.h5">Plugins</MudText>
                <MudSpacer />
                <MudButton Color="Color.Secondary" Variant="Variant.Filled" Href="api/v1/Plugin/ReloadAll" Target="_blank">
                    Reload Plugins
                </MudButton>
            </PageHeader>
            @foreach ((PluginStateValue<IPlugin> pluginStateValue, int index) in pluginHost.LoadedPlugins.Values.Select((psv, i) => (psv, i)))
            {
                <PluginBar>
                    <PluginHeader>
                        <MudAvatar Color="@SRTHost.Helpers.GetRunningStatusColor(pluginStateValue)" Variant="Variant.Filled">
                            <MudTooltip Text="@pluginStateValue.Status.ToString()">
                                <MudIcon Color="Color.Dark" Icon="@SRTHost.Helpers.GetRunningStatusIcon(pluginStateValue)" />
                            </MudTooltip>
                        </MudAvatar>
                        <PluginTitle>
                            @(pluginStateValue.PluginType?.Name ?? "Unknown")
                        </PluginTitle>
                    </PluginHeader>
                    <MudHidden Breakpoint="Breakpoint.Xs">
                        <MudButtonGroup Color="Color.Secondary" Variant="Variant.Filled">
                            <MudButton Href="@SRTHost.Helpers.GetPluginName(@pluginStateValue.PluginType?.Name ?? "Unknown", "Reload")" Target="_self">
                                Reload
                            </MudButton>
                            @foreach (string registeredPage in (pluginStateValue.Plugin?.RegisteredPages.Keys ?? Enumerable.Empty<RegisteredPagesKey>()).Where((RegisteredPagesKey registeredPagesKey) => !registeredPagesKey.Hidden))
                            {
                                <MudButton Href="@SRTHost.Helpers.GetPluginName(@pluginStateValue.PluginType?.Name ?? "Unknown", @registeredPage)" Target="_self">
                                    @registeredPage
                                </MudButton>
                            }
                        </MudButtonGroup>
                    </MudHidden>
                    <MudHidden Breakpoint="Breakpoint.Xs" Invert="true">
                        <MudButton FullWidth="true" Color="Color.Secondary" Variant="Variant.Filled" Href="@SRTHost.Helpers.GetPluginName(@pluginStateValue.PluginType?.Name ?? "Unknown", "Reload")" Target="_self">
                            Reload
                        </MudButton>
                        @foreach (string registeredPage in (pluginStateValue.Plugin?.RegisteredPages.Keys ?? Enumerable.Empty<RegisteredPagesKey>()).Where((RegisteredPagesKey registeredPagesKey) => !registeredPagesKey.Hidden))
                        {
                            <MudButton FullWidth="true" Color="Color.Secondary" Variant="Variant.Filled" Href="@SRTHost.Helpers.GetPluginName(@pluginStateValue.PluginType?.Name ?? "Unknown", @registeredPage)" Target="_self">
                                @registeredPage
                            </MudButton>
                        }
                    </MudHidden>
                </PluginBar>
            }
        </MudPaper>
    }
</div>
